#!/usr/bin/env python
PACKAGE = "thor_mang_ros_control"
def generate(gen):
    #           Name            Type    Level Description         Default  Min   Max
    gen.add("hip_pitch_offset", double_t, 0, "Hip pitch offset", 12.0, 0.0, 20.0)
    gen.add("ankle_pitch_offset", double_t, 0, "Ankle pitch offset", 0.0, -6.0, 6.0)
    gen.add("walk_stabilizer_gain_ratio", double_t, 0, "walk_stabilizer_gain_ratio", 1.5, 0.0, 6.0)
    gen.add("imu_gyro_gain_ratio", double_t, 0, "imu_gyro_gain_ratio", 0.0731, 0.0, 1.0)
    gen.add("force_moment_distribution_ratio", double_t, 0, "imu_gyro_gain_ratio", 0.6, 0.0, 1.0)
    gen.add("balance_hip_pitch_gain", double_t, 0, "balance_hip_pitch_gain", 1.0, 0.0, 3.0)
    gen.add("balance_z_gain_by_ft", double_t, 0, "balance_z_gain_by_ft", 0.05, 0.0, 1.0)
    gen.add("balance_right_roll_gain_by_ft", double_t, 0, "balance_right_roll_gain_by_ft", 0.001, -0.1, 0.1)
    gen.add("balance_right_pitch_gain_by_ft", double_t, 0, "balance_right_pitch_gain_by_ft", -0.0005, -0.1, 0.1)   
    gen.add("balance_left_roll_gain_by_ft", double_t, 0, "balance_left_roll_gain_by_ft", 0.001, -0.1, 0.1)
    gen.add("balance_left_pitch_gain_by_ft", double_t, 0, "balance_left_pitch_gain_by_ft", -0.0005, -0.1, 0.1)
    gen.add("foot_landing_offset_gain", double_t, 0, "balance_left_pitch_gain_by_ft", 0.0, 0.0, 1.0)
    gen.add("foot_landing_detect_n", double_t, 0, "foot_landing_detect_n", 50, 0, 100)

    exit(gen.generate(PACKAGE, "preview_controller_config", "FootstepPreviewController"))

try:
    from dynamic_reconfigure.parameter_generator_catkin import *
    gen = ParameterGenerator()
    generate(gen)
# reason for catching IndexError
# parameter_generator_catkin expects 4 arguments while rosbuild only passes in 2
# not thrilled with this solution
except IndexError:
    print 'ERROR', PACKAGE, 'FootstepPreviewController.cfg failed using parameter_generator_catkin, using rosbuild instead'
    from dynamic_reconfigure.parameter_generator import *
    gen = ParameterGenerator()
    generate(gen)
